extends ./base_template

block heading
  link(rel='stylesheet', href='./stylesheets/main.css')
  link(rel='stylesheet', href='./stylesheets/front-end.css')
  link(rel='stylesheet', href='./stylesheets/quote.css')
  script(src='jquery/dist/jquery.js')
  script(src='javascript/quote.js')

block content
  #portfolio
    a(name='home')
    //- Front end, Back end, react, d3, etc
    nav
    section#front-end
      article
      article
      article
        a(name='quotes')
        include ./quote.jade
        .corner
      article#calculator
        .corner
      article#clock
        .corner