doctype html
html
  head
    title Random Quote Machine
    link(rel='stylesheet', href='./stylesheets/reset.css')
    link(rel='stylesheet', href='./stylesheets/random-quote/core.css')
    script(src='jquery/dist/jquery.js')
    script(src='javascript/random-quote/main.js')
  body
    div#quote
    div#author
    button#new-quote New Quote
    a#tweet(target='_blank') Tweet