doctype html
html
  head
    title Random Quote Machine
    link(rel='stylesheet', href='stylesheets/reset.css')
    link(rel='stylesheet', href='stylesheets/core.css')
    link(rel='stylesheet', href='stylesheets/quote.css')
    script(src='jquery/dist/jquery.js')
    script(src='javascript/random-quote/main.js')
  body
    #terminal
        #new-quote New Quote
        #quote

    #container-old
        #bubble
            #quotes
            #author
        #actions
            #new-quotes 
                p New Quote
            #tweet
                a(target='_blank') Tweet